.DS_Store
.zshrc_zgen
.config/github-copilot/hosts.json
.config/github-copilot/versions.json
*.db
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*